<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFramework>net10.0</TargetFramework>
    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <publishUrl>C:\inetpub\wwwroot\mcp-generic</publishUrl>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <SiteUrlToLaunchAfterPublish />
    <ProjectGuid>016e736d-ffcc-418a-8d5a-f8615877c2de</ProjectGuid>
  </PropertyGroup>
</Project>